.form-container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-content: flex-end;
  padding: 0 .5em;
}

.form-container form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-end;
}

form {
  background-color: rgb(207, 217, 226);
  padding: 1em;
}

.form-warning {
  clear: both;
  font-weight: lighter;
  color: rgb(130, 130, 130);
}

form button {
  margin-top: 1em;
  padding: .5em 1em;
  width: 25%;
}

form div {
  margin: 1em 0;
  height: 1.5em;
  width: 100%;
  align-self: center;
}

form div input, form div select {
  float: right;
}

form div label {
  float: left;
  font-weight: bolder;
}

input {
  height: 100%;
  border-bottom-color: #ccc;
  border-right-color: #ccc;
  min-width: 50%;
  border-width: 1px;
  outline: none;
}

textarea {
  width: 100%;
  margin-bottom: 3em;
}

.or-login {
  margin-left: auto;
  background: none;
  border: none;
  box-shadow: none;
}

.or-login:hover {
  text-decoration: underline;
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
  border-color: red;
}

@media only screen and (max-width: 700px) {
  form button {
    width: 100%;
  }

  .form-container {
    padding: 1em;
  }
}